.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeaderExample {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  background-color: white;
  color: darkslateblue;
}

.tableContainer {
  overflow: auto;
  max-width: 98vw;
}


.tableHeaderRoles {
  color: white;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 10px;
  width: 190%;
}

.headerBank,
.headerBorrower {
  font-size: 1rem;
  margin-bottom: 0;
}

.tableHeader {
  color: white;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background-color: darkslateblue;
}

.table {
  padding: 5px;
  border: 5px solid darkslateblue;
  background-color: darkslateblue;
  margin-bottom: 2rem;
}

.tableCell {
  padding: 1rem;
}

.tableCellAmountHeader {
  text-align: center;
}

.tableCellAmounts {
  text-align: right;
  padding: 1rem;
}

.tableRow:nth-child(even) {
  background-color: whitesmoke;
  color: darkslateblue;
}

.tableRow:nth-child(odd) {
  background-color: white;
  color: darkslateblue;
}

.tableRow_header {
  background-color: darkslateblue;
  color: white;
}
