.frontingForm {
    min-width: 33vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formControl {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
}

.input_span_group {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.input_span_group span {
    color: white;
    font-style: italic;
}

.formControl label {
    color: white;
}

.formControl input {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: right;
    margin-bottom: 0.5rem;
}