.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeaderExample {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  background-color: white;
  color: #484848;
}

.tableContainer {
  overflow: auto;
  max-width: 98vw;
}

.frontingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHeaderRoles {
  color: white;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 10px;
  width: 190%;
}

.headerBank,
.headerBorrower {
  font-size: 1rem;
  margin-bottom: 0;
}

.tableHeader {
  color: white;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background-color: #484848;
}

.table {
  padding: 5px;
  border: 5px solid #484848;
  background-color: #484848;
  margin-bottom: 2rem;
}

.tableCell {
  padding: 1rem;
}

.tableCellAmountHeader {
  text-align: center;
}

.tableCellAmounts {
  text-align: right;
  padding: 1rem;
}

.tableRow:nth-child(even) {
  background-color: whitesmoke;
  color: #484848;
}

.tableRow:nth-child(odd) {
  background-color: white;
  color: #484848;
}

.tableRow_header {
  background-color: #484848;
  color: white;
}


.nonAccrualMessage {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 33%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (max-width: 767px) {

  .mainHeaderExample {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: white;
    color: #484848;
  }
  
 
  .tableContainer {
   margin: auto;
   margin-left: 1rem;
  }
  .tableHeader {
    font-size: 1.15rem;
    text-align: left;
  }

  .tableRow_header {
    font-size: 0.8rem;
  }

  .tableCell {
    font-size: 0.75rem;
    padding: 0.25rem;
    max-width: 7rem;
  }

  .tableCellAmounts {
    font-size: 0.75rem;
    padding: 0.25rem;
    max-width: 5rem;
  }

  .nonAccrualMessage {
    width: 70%;
    font-size: 0.75rem;
  }
}
