.frontingForm {
    min-width: 33vw;
    padding: 1.5rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #484848;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.formTitle {
    padding: 0.75rem;
    width: 80%;
    margin: 1rem auto 2rem auto;
    background-color: white;
    color: #484848;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    border-radius: 10px;
    text-align: center;
}

.formControl {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
}

.input_span_group {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.input_span_group span {
    color: white;
    font-style: italic;
}

.formControl label {
    color: white;
}

.formControl input {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: right;
    margin-bottom: 0.5rem;
}



@media (max-width: 767px) {
    .frontingForm {
        max-width: 85vw;
        font-size: 1rem;
        padding: 0.5rem;
        margin: auto;
        margin-bottom: 2rem;
    }

    .formControl label {
        font-size: 0.75rem;
        color: white;
    }

    .formControl input {
        margin-left: 0.5rem;
        padding: 0.35rem;
        width: 6rem;
        font-size: 0.75rem;
    }

    .formattedValueSpan {
        font-size: 0.5rem;
    }
    
}