.fronting_main {
    background-image: url("../../public/glossyWhite.avif");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
}

.fronting_subheader {
    margin-top: 2rem;
    color: white;
}

.formContainer {
    display: flex;
    justify-content: center;
}



@media (max-width: 767px) {
    .fronting_main {
        padding: 0.5rem;
    }
    .fronting_subheader {
        background-color: lightsteelblue;
        font-size: 0.8rem;
        padding: 0.5rem;
        width: 80%;
        margin: 0 auto 1rem auto;
        border-radius: 8px;
        
    }
}