.pageHeader {
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.subHeader {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.fronting_main {
  background-image: url("../../public/glossyWhite.avif");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
}

.fronting_subheader {
  margin-top: 2rem;
  color: white;
}

.formContainer {
  display: flex;
  justify-content: center;
  
}


@media (max-width: 1024px) {
  .pageHeader {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .pageHeader {
    font-size: 1.5em;
    letter-spacing: 0.5rem;
  }
  .fronting_main {
    padding: 0.5rem;
  }
  .formContainer {
    padding-top: 1rem;
  }
  .fronting_subheader {
    background-color: lightsteelblue;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 80%;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
  }
  .fronting_main {
    padding: 0;
  }
}
