.fronting_main {
    background-color: steelblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
}

.fronting_subheader {
    margin-top: 2rem;
    color: white;
}

.formContainer {
    display: flex;
    justify-content: center;
}