.main {
    padding: 1rem;
    background-color: white;
    color: darkslateblue;
}   

.main h2 {
    font-size: 2rem;
}

.main h3 {
    font-size: 1.75rem;
}

.main p {
    font-size: 1.25rem;
}

@media (max-width: 767px) {
    .main h2 {
        font-size: 1.5rem;
    }
    .main h3 {
        font-size: 1.25rem;
    }

    .main p {
        font-size: 0.9rem;
    }
}
