.main {
    padding: 1rem;
    background-image: url("../../public/glossyWhite.avif");
    background-size: cover;
    margin-left: 1rem;
    width: 82vw;
    border-radius: 8px;
}   

.main h2 {
    font-size: 2rem;
}

.main h3 {
    font-size: 1.75rem;
}

.main p {
    font-size: 1.25rem;
    line-height: 2;
}

@media (max-width: 767px) {
    .main h2 {
        font-size: 1.5rem;
    }
    .main h3 {
        font-size: 1.25rem;
    }

    .main p {
        font-size: 0.9rem;
        line-height: 1.5;
    }
}
