.button {
  width: 10rem;
  background-color: midnightblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border-radius: 0.5rem;
  margin: auto;
  padding: 0.5rem;
  text-wrap: wrap;
  border: none;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}

.button:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
}

.m_half {
  margin: 0.5rem;
}

.m_half_formSubmitButton {
  margin: 0.5rem;
}

.m_1 {
  margin: 1rem;
}

.width_8 {
  width: 8rem;
}

.showButton {
  width: 10rem;
  height: 5rem;
  margin: auto 1rem;
}

.deleteButton {
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: transparent;
  color: red;
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
}

.addExample {
  width: 8rem;
  height: 3.5rem;
  background-color: midnightblue;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  margin: 0 auto 1rem auto;

  padding: 0.25 0.75rem;
  box-shadow: 3px 3px 8px #484848;
  transition: 0.2s ease-in-out;
}

.addExample:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
}

@media (max-width: 1660px) {
  .width_8 {
    width: 5rem;
  }
}
@media (max-width: 1024px) {
  .width_8 {
    width: 4rem;
  }
}

@media (max-width: 767px) {
  .formSubmitButton {
    font-size: 0.75rem;
    width: 10rem;
  }

  .addExample {
    font-size: 0.75rem;
    width: 6rem;
    letter-spacing: 0.1rem;
  }

  .m_half_formSubmitButton {
    margin: 0.5rem;
    font-size: 0.75rem;
    width: 7rem;
  }

  .showButton {
    margin: auto 0.5rem;
    font-size: 0.9rem;
  }
}
