.button {
  width: 15rem;
  background-color: seagreen;
  color: white;
  border-radius: 0.5rem;
  margin: auto;
  padding: 0.5rem;
  text-wrap: wrap;
  border: none;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4)
}

.m_half {
  margin: 0.5rem;
}

.m_1 {
  margin: 1rem;
}

.width_8 {
  width: 8rem;
}


@media (max-width: 1660px) {
  .width_8 {
    width: 5rem;
  }
}
@media (max-width: 1024px) {
  .width_8 {
    width: 4rem;
  }
}

.deleteButton {
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: transparent;
  color: red;
  font-size: 1.5rem;
  border: none;
  box-shadow: none;
}

.addExample {
  width: 8rem;
  height: 3.5rem;
  background-color: midnightblue;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
  padding: 0.25 0.75rem;
  box-shadow: 3px 3px 8px #484848;
  transition: 0.2s ease-in-out;
}

.addExample:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
}
