.button {
  width: 15rem;
  background-color: seagreen;
  color: white;
  border-radius: 0.5rem;
  margin: auto;
  padding: 0.5rem;
  text-wrap: wrap;
  border: none;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4)
}

.m_half {
  margin: 0.5rem;
}

.m_1 {
  margin: 1rem;
}

.width_8 {
  width: 8rem;
}


@media (max-width: 1660px) {
  .width_8 {
    width: 5rem;
  }
}
@media (max-width: 1024px) {
  .width_8 {
    width: 4rem;
  }
}

.deleteButton {
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: transparent;
  color: red;
  font-size: 1.5rem;
  border: none;
}
