.journalEntryTableWrapper {
  overflow-x: auto;
  max-width: 95vw;
  margin-bottom: 2rem;
  border: 5px solid black;
}

.journalEntry_table {
  padding: 5px;

  background-color: darkgray;
}

.tableCell {
  padding: 1rem;
  text-align: start;
}

.tableCellAmountHeader {
  text-align: center;
}

.tableCellAmounts {
  text-align: end;
}

.tableRow:nth-child(even) {
  background-color: whitesmoke;
  color: #484848;
}

.tableRow:nth-child(odd) {
  background-color: white;
  color: #484848;
}

.tableRow_header {
  background-color: #484848;
  color: white;
}

.scrollText {
  display: none;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.25rem;
}

@media (max-width: 1024px) {
  .journalEntryTableWrapper {
    max-width: 85vw;
    padding-bottom: 0;
    border: 5px solid black;
  }
}

@media (max-width: 900px) {
  .journalEntryTableWrapper {
    margin-bottom: 0.5rem;
  }

  .scrollText {
    display: block;
  }
}
