.tableWrapper {
  overflow-x: auto;
  max-width: 95% !important;
}

.scrollableTableWrapper {
  overflow: auto;
  max-width: 95vw !important;
  margin-bottom: 4rem;
}

.loanExamples_table {
  padding: 5px;
  border: 5px solid #484848;
  background-color: darkgray;
  margin-bottom: 2rem;
}

.tableHeaderRow {
  background-color: #484848;
  color: white;
  max-height: 2rem;
}

.tableBodyRows {
  text-align: right;
  background-color: whitesmoke;
  color: #484848;
  max-height: 2rem;
}

.tableBodyRows:nth-child(even) {
  text-align: right;
  background-color: white;
  color: #484848;
}

.tableBodyRows:hover {
  background-color: #484848;
  color: white;
  cursor: pointer;
}

.tableHeaderRow th,
.tableBodyRows td {
  padding: 0.5rem;
  text-wrap: wrap;
}

.price {
  min-width: 4rem;
  max-width: 5rem;
}

.tableBodyRows td {
  text-align: right;
}

.deleteCell {
  margin: auto;
  text-align: center;
}

.viewCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalCell {
  font-weight: bold;
}

.footnoteDiv {
  margin-bottom: 2rem;
}

.footnote {
  font-size: smaller; /* Smaller font size */
  vertical-align: super; /* Raised position */
  color: red;
}

.footnoteDesc {
  margin: 0.15rem 0;
}

.tableFooter:hover {
  cursor: auto;
}

.chartHeader {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(54, 162, 235, 0.2);
  
  color: white;
}

.pieChartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0 auto;
  padding-top: 4rem;
  padding-bottom: 6rem;
  max-width: 400px;
  max-height: 400px;
  
}

@media (max-width: 1660px) {
  .loanExamples_table {
    font-size: 0.75rem;
  }
}

@media (max-width: 1024px) {
  .pieChartWrapper {
    padding-top: 1rem;
  }

  .chartHeader {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .chartHeader {
    font-size: 1rem;
    width: 75%;
  }

  .pieChartWrapper {
    padding-bottom: 3rem;
  }
}
