.accountingForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 2rem auto;
    background-color: #484848;

}

.formTitle {
    padding: 0.75rem;
    width: 80%;
    margin: 1rem auto 2rem auto;
    background-color: white;
    color: #484848;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    border-radius: 10px;
    text-align: center;
}

.formControl {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.formControl input {
    margin-left: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
   
    text-align: right;
}

.formControl label {
    color: white;
}

.formControl fieldset {
    margin: auto;
}

.selectInput {
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    width: 12rem;
    font-size: 0.75rem;
    text-align: center;
}

.legend {
    color: white;
}

.radioInput {
    max-width: initial;
}

@media (max-width: 1024px) {
    .accountingForm {
        width: 75%; 
        padding: 1rem;
    }
    .formTitle {
        font-size: 1.3rem;
    }
    .selectInput {
        width: 11.5rem;
    }
}

@media (max-width: 767px) {
    .accountingForm {
        width: 80%;
        padding: 0.75rem;
    }
    .formTitle {
        font-size: 1.1rem;
    }
    .formControl label {
        font-size: 0.75rem;
    }

    .formControl input {
        margin-left: 0.5rem;
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        width: 8rem;
    }
    .selectInput {
        width: 9.5rem;
    }
}