.loanDetail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
 
}

.loanDetail_summary {
  flex-direction: column;
  margin-right: 0.5rem;
}

.loanDetail_summary h2 {
  margin: 0;
}

.loanDetail_journalEntries {
  flex-direction: column;


}

.journalEntry_table {
  padding: 5px;
  border: 5px solid darkslateblue;
  background-color: darkgray;
}

.tableCell {
  padding: 1rem;
  text-align: start;
}

.tableCellAmountHeader {
  text-align: center;
}

.tableCellAmounts {
  text-align: end;
}

.tableRow:nth-child(even) {
  background-color: whitesmoke;
  color: darkslateblue;
}

.tableRow:nth-child(odd) {
  background-color: white;
  color: darkslateblue;
}

.tableRow_header {
  background-color: darkslateblue;
  color: white;
}

.balanceSheetSummary_header {
    width: 100%;
    color: white;
}
