.tableWrapper {
  overflow: auto;
  max-width: 100% !important;
}

.scrollableTableWrapper {
  overflow: auto;
  max-width: 95vw !important;
}

.loanExamples_table {
  padding: 5px;
  border: 5px solid darkslateblue;
  background-color: darkgray;
  margin-bottom: 2rem;
}

.tableHeaderRow {
  background-color: darkslateblue;
  color: white;
  max-height: 2rem;
}


.tableBodyRows {
  text-align: right;
  background-color: whitesmoke;
  color: darkslateblue;
  max-height: 2rem;
}

.tableBodyRows:nth-child(even) {
  text-align: right;
  background-color: white;
  color: darkslateblue;
}


.tableHeaderRow th,
.tableBodyRows td {
  padding: 0.5rem;
  text-wrap: wrap;
}

.tableBodyRows td {
  text-align: right;
}

.deleteCell {
  
  margin: auto;
  text-align: center;
}

.viewCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1660px) {
  .loanExamples_table {
    font-size: 0.75rem;
  }
}

@media (max-width: 1024px) {

 


  
}

@media (max-width: 767px) {

}
