.main {
    display: flex;
    padding: 0;
    margin-top: -3rem;  
    min-height: 100vh;
}

.aside {
    width: 20%;
    background-color: darkslateblue;
}

.contentContainer {
    width: 80%;
    
}

.topicsList {
    list-style: none;
}

.topic {
    padding: 1rem;
    color: white;
}