.pageHeader {
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.subHeader {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.accounting_main {
  background-image: url("../../public/glossyWhite.avif");
  background-size: cover;
  color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.accountingExamplesTableContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  min-height: 70vh;
  margin-bottom: 2rem;
}

.formAndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.loanDetail_summary {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.loanDetail_summary h2 {
  margin: 0;
}

.showButtonsDiv {
  display: flex;
  justify-content: space-between;
}

.balanceSheetView {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.balanceSheetHeader {
  margin-top: 3rem;
  font-size: 2rem;
  color: #484848;
}

.chartHeader {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  background-color: rgba(54, 162, 235, 0.2);

  color: white;
}

.pieChartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0 auto;
  padding-top: 4rem;
  padding-bottom: 6rem;
  max-width: 400px;
  max-height: 70vh;
}

@media (max-width: 1024px) {
  .pageHeader {
    font-size: 2.5rem;
  }

  .subHeader {
    font-size: 1.3rem;
  }

  .pieChartWrapper {
    padding-top: 1rem;
    max-height: 70vh;
  }

  .chartHeader {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .pageHeader {
    font-size: 1.5em;
    line-height: 1.5;
  }

  .subHeader {
    font-size: 1.1rem;
  }
  .chartHeader {
    font-size: 1rem;
    width: 75%;
  }

  .pieChartWrapper {
    max-width: 95%;
    max-height: 70vh;
    padding-bottom: 3rem;
  }
}
