.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary_header {
    text-align: center;
    color: #484848;
}

.link {
  text-decoration: none;
}

.backLinkText {
  color: #484848;
  text-decoration: underline;
}
