.accounting_main {
  background-color: steelblue;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accountingFormAndSummaryWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.formContainer h2 {
  margin: 0 0 0.5rem 0;
}

.formContainer div {
    background-color: darkslateblue;
    border-radius: 10px;
}

.formContainer div p {
    margin: 0.5rem;
    text-align: center;
}

.loanDetail_summary {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.loanDetail_summary h2 {
  margin: 0;
}
