.accounting_main {
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accountingExamplesTableContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  padding: 0 1rem;
  min-height: 70vh;
  overflow-x: auto; /* Add a horizontal scrollbar when the table overflows */
  white-space: nowrap; /* Prevent text from wrapping */
}

.formAndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.loanDetail_summary {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.loanDetail_summary h2 {
  margin: 0;
}
