.pageHeader {
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.subHeader {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.accounting_main {
  background-image: url("../../public/glossyWhite.avif");
  background-size: cover;
  color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructionHeader {
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: 900;
  border-radius: 10px;
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  0% {
  
    opacity: 1;
  }
  50% {

    opacity: 0.5;
  }
}

.accountingExamplesTableContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  padding: 0 1rem;
  min-height: 70vh;
}

.formAndButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.loanDetail_summary {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.loanDetail_summary h2 {
  margin: 0;
}

@media (max-width: 1024px) {
  .pageHeader {
    font-size: 2.5rem;
   }

   .subHeader {
    font-size: 1.3rem;
   }
}

@media (max-width: 767px) {
   .pageHeader {
    font-size: 1.5em;
   }

   .subHeader {
    font-size: 1.1rem;
   }
}
